<div style="min-height: 100vh;">
  <app-navbar></app-navbar>
  <div class="row d-flex justify-content-center">
    <img style="width: 100vw;margin-top:-1%" src="assets/topback.svg" />
  </div>
  <div class="row d-flex justify-content-end">
    <div class="head" style="margin-top: -5%; margin-bottom: 8%;margin-right:10%;color:black">
      About Us
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="container" style="min-height:80vh;">
      <div class="row">
        <h2 style="font-family:'Quicksand'">
          Robotics club has been embodiment of innovation at NIT Patna. Being
          formed in year 2015-16 by Nripendra Saroj Sir ,our club boasts a
          glorious legacy. With our members ranging from seasoned coders to
          brilliant designers to hardware scientists, have been constantly
          working to enhance the students’ technical skills and making them
          aware of the fascinating world of automation,robotics and electronics
          which surrounds us. Every year the club conducts a various range of
          workshops and competitions.We work on projects and build robots to
          compete in competitions or just out of plain interest. Our members
          have also represented our college in various state and national level
          competitions like Smart India Hackathon,E-yantra robotics completion
          and many more. We here believe in working and growing together.Check
          out the Events and our projects. Boasting of a huge roster of exciting
          and engaging events,the journey was nothing less than a rollercoaster
          ride for us.One on one guidance,workshops and tutorials along with
          tools,equipments,components and workplace eagerly await you!
        </h2>
      </div>
    </div>
  </div>
  <app-foot></app-foot>
</div>
