<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
               style="background: rgb(116,112,119);
background: linear-gradient(0deg, rgba(116,112,119,1) 0%, rgba(0,0,0,1) 100%); "
               >
    <mat-toolbar style="color:white;">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item style="color:white" href="#">Events</a>
      <a mat-list-item style="color:white" href="#">Projects</a>
      <a mat-list-item style="color:white" routerLink="team">Team</a>
      <a mat-list-item style="color:white" routerLink="about">About Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <div class="main2">
    <mat-toolbar style="background: transparent;">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     <span><a routerLink="" style="margin-left:3vw;"><img src="assets/logo1.png" style="max-height: 50px;" class="img-fluid" /></a></span>
      <span style="flex : 1 1 auto"></span>
      <div *ngIf="(isHandset$|async)==false">
        <a class="navitem" routerLink="../events" routerLinkActive="active">Events</a>
        <a class="navitem" routerLink="../projects" routerLinkActive="active">Projects</a>
        <a class="navitem" routerLink="team" routerLinkActive="active">Team</a>
        <a class="navitem" routerLink="about" routerLinkActive="active">About Us</a>
      </div>
    </mat-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
