<div style="min-height: 100vh;">
  <app-navbar></app-navbar>
  <div class="row d-flex justify-content-center">
    <img style="width: 100vw;margin-top:-1%" src="assets/topback.svg" />
  </div>
  <div class="row d-flex justify-content-end">
    <div class="head" style="margin-top: -5%; margin-bottom: 8%;margin-right:10%;color:black">
      Our Projects
    </div>
  </div>
  <div class="row d-flex justify-content-center" *ngFor="let project of projects">
      <div class="container">
        <div class="row"><h1 style="font-family:'Quicksand';font-weight:bold">{{project.title}}</h1></div>
        <div class="row"><h2 style="font-family:'Quicksand'">{{project.description}}</h2></div>
    </div>
  </div>
  <app-foot></app-foot>
</div>
