<div class="news-pic">
    <img src="assets/news/Month2.jpg" class="img-fluid">
</div>
<div class="row d-flex justify-content-center">
<h1 style="font-family: 'Quicksand';font-weight:bold">Will Automation Lead To Mass Unemployment</h1>
</div>
<h2 style="font-family: 'Quicksand'">
  "Automation is good, so as long as you know exactly where to put the machine."
    - Eliyahu Goldratt <br>
  
  Regular reports warn us that automation apocalypse is nigh. In January 2017, a McKinsey & Company study found that about 30% of tasks in 60% of occupation could be
  computerized and last year, the Bank of England's chief economist said that 80m US and 15m UK jobs might be taken over by robots. Ofcourse not all jobs are created
  equally. In 2013 a highly cited study by Oxford University academics called The Future of Employment examined 702 common occupation and found that some jobs - 
  telemarketers, tax preparers and sport refrees - are at more risk than other including recreational psychologists, dentists and physicians. <br>
  
  Automation and technological progress as a whole will not only bring benefits to labour but also to personal life quality. As consumers, we will increasingly fill
  our needs faster and most effectively giving us space to spend more time and money on dicretionary goods and services. Thus, many activities that workers carry out 
  today will probably be automated. The jobs most susceptible to automation are the ones that are highly predictable and structured. <br>
  
  Moreover, the most affected sectors will be manufacture, hospitality, retail and food, since its where this type of jobs are more common. Furthermore due to 
  developments on artificial intelligence, computer systems are increasingly gaining cognitve capabilities so they will eventually also be able to substitute high-
  skilled work activities.<br>
  
  Thus, in next 20 years some activities will drastically change and might disappear such as:<br>
  <ol>
    <li> Telemarketer</li>
    <li> Loan officer</li>
    <li> Cashier</li>
    <li> Paralegal and legal assistant</li>
    <li> Taxi driver</li>
    <li> Fast food cook</li>
    <li> Travel agents</li>
    <li> Farmers</li>
    <li> Publishers and print related jobs</li>
    <li> Lawyers</li>
  </ol>
  <br>
  <b> So choose your Career by keeping this in mind. <b>
</h2>
    
