.news-thumb {
  max-width: 90vw;
  max-height: 200px;
}
.news-tab {
  overflow-x: scroll;
  display: flex;
  scrollbar-width: thin;
  border-top:2px solid black;
  border-bottom:2px solid black;
}
.news-tab::-webkit-scrollbar {
  display: none;
  scrollbar-width: thin;
}
