
<div
      class="row" style="width: 99vw;padding-top: 10vh;"
    > <img src="assets/botback.svg" style="width:100%" /></div><div
      class="row d-flex align-items-center justify-content-center"
      style="min-height: 35vh; background-color: black;"
    >
   
      <div class="row d-flex justify-content-center align-items-end">
        <div class="row d-flex justify-content-center">
          <img
            src="assets/logo1.png"
            class="img-fluid "
            style="max-width: 300px;"
          />
        </div>
        <div
          class="row d-flex justify-content-center"
          style="margin-top: 30px;"
        >
          <a href="mailto:roboticsclub@nitp.ac.in" target="blank"
            ><img
              src="assets/mail.svg"
              class="img-fluid slink"
              style="width: 40px; margin-right: 5px;"
          /></a>
          <a href="https://www.instagram.com/robotics_club_nitp/" target="blank"
            ><img
              src="assets/insta.svg"
              class="img-fluid slink"
              style="width: 40px; margin-left: 5px; margin-right: 5px;"
          /></a>
          <a href="https://www.linkedin.com/company/robotics-club-nit-patna/" target="blank"
            ><img
              src="assets/linkedin.svg"
              class="img-fluid slink"
              style="width: 40px; margin-left: 5px; margin-right: 5px;"
          /></a>
          <a href="https://www.facebook.com/robonitp/" target="blank"
            ><img
              src="assets/facebook.svg"
              class="img-fluid slink"
              style="width: 40px; margin-left: 5px;"
          /></a>
        </div>
        <div
          class="row d-flex justify-content-center"
          style="margin-top: 30px;"
        >
          <p style="color: #ffffff; font-size: 16px;">
            © Robotics Club NIT Patna 2020
          </p>
        </div>
      </div>
    </div>