<div style="min-height: 100vh">
  <app-navbar></app-navbar>
  <div class="row d-flex justify-content-center">
    <img style="width: 100vw;margin-top:-1%" src="assets/topback.svg" />
  </div>
  <div class="row d-flex justify-content-end">
    <div class="head" style="margin-top: -5%; margin-bottom: 8%;margin-right:10%;color:black">
      Our Events
    </div>
  </div>
  <div class="row d-flex justify-content-center" *ngFor="let event of events">
    <div class="container">
      <div class="row" style="padding-top:10vh;">
        <h1 style="font-weight: bold;">
          {{ event.title }}
        </h1>
      </div>
      <div class="row">
                <div class="col-md-6 order-md-2"><img class="img-fluid" src="{{ event.url }}" /></div>

        <div class="col-md-6 order-md-1">
          <h2 style="font-family: 'Quicksand'">{{ event.description }}</h2>
        </div>
      </div>
    </div>
  </div>
  <app-foot></app-foot>
</div>
