<body class="main d-flex justify-content-center align-items-center" style="background-color:black;height:93.3vh;">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center"><p class="head">ROBOTICS CLUB</p></div>
      <div class="row d-flex justify-content-center"><p class="head2">NATIONAL INSTITUTE OF TECHNOLOGY PATNA</p></div>
    </div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <img src="assets/logo1.png" class="img-fluid" />
    </div>
  </div>
</body>
