<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'"
    style="background-color: black"
  >
    <mat-toolbar style="color: white">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item style="color: white" routerLink="events">Events</a>
      <a mat-list-item style="color: white" routerLink="projects">Projects</a>
      <a mat-list-item style="color: white" routerLink="team">Team</a>
      <a mat-list-item style="color: white" routerLink="about">About Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main">
    <div
      class="justify-content-center"
      style="
        overflow: hidden;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
      "
    >
      <img
        src="assets/img/arena10.png"
        style="height: auto; min-width: 100vw"
      />
    </div>

    <div class="main2">
      <mat-toolbar
        style="
          background: transparent;
          padding: 0px;
          height: 15vh;
          display: flexbox;
          align-items: center;
        "
      >
        <span
          ><a routerLink="" style="margin-left: 3vw"
            ><img
              src="assets/logo1.png"
              style="max-height: 15vh; margin-bottom: -10vh; max-width: 40vw"
              class="img-fluid" /></a
        ></span>
        <span style="flex: 1 1 auto"></span
        ><button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon"
            ><img src="assets/toggle.svg"
          /></mat-icon>
        </button>
        <div *ngIf="(isHandset$ | async) == false">
          <a class="navitem" routerLink="events" routerLinkActive="active"
            >Events</a
          >
          <a class="navitem" routerLink="projects" routerLinkActive="active"
            >Projects</a
          >
          <a class="navitem" routerLink="team" routerLinkActive="active"
            >Team</a
          >
          <a class="navitem" routerLink="about" routerLinkActive="active"
            >About Us</a
          >
        </div>
      </mat-toolbar>
      <div
        class="row d-flex align-items-end"
        style="background: transparent; height: 75vh"
      >
        <div id="headtag" style="width: 100%">
          <h1>Robotics Club</h1>
          <p>National Institute of Technology Patna</p>
        </div>
      </div>
    </div>
    <div class="row d-flex" style="background: transparent; min-height: 100vh">
      <div class="row d-flex justify-content-center" style="padding-top: 8vh">
        <h1 id="eventhead">Events</h1>
      </div>
      <div class="row d-flex justify-content-center">
        <ngb-carousel
          *ngIf="events"
          [showNavigationArrows]="showNavigationArrows"
          [showNavigationIndicators]="showNavigationIndicators"
        >
          <ng-template ngbSlide *ngFor="let event of events">
            <div class="event picsum-img-wrapper d-flex justify-content-center">
              <div class="img-wrap">
                <img src="{{ event.url }}" alt="" />
              </div>
              <div
                style="color: #ffffff; padding-bottom: 8vh"
                class="col-md-8 col-sm-12"
              >
                <h1 class="event-title">{{ event.title }}</h1>
                <p class="event-body">
                  {{ event.description }}
                </p>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="row d-flex" style="min-height: 90vh; padding-top: 10vh">
      <div class="row d-flex" id="piheadrow">
        <h1 id="piabouthead">About Us</h1>
      </div>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-5 d-flex justify-content-center align-items-center">
          <img src="assets/img/3dprinting.jpg" class="img-fluid" />
        </div>
        <div class="col-md-6">
          <p class="piabout">
            {{ aboutus }}
          </p>
        </div>
      </div>
    </div>
    <img
      src="assets/triangle.svg"
      class="img-fluid"
      style="height: auto; min-width: 100%"
    />
    <div
      class="row d-flex"
      style="height: 90vh; background-color: #ffffff; padding-top: 10vh"
    >
      <div class="row d-flex justify-content-center">
        <h1 id="newshead">News</h1>
      </div>
      <div class="row newstab">
        <div class="container">
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
          <div class="row">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
            </p>
          </div>
        </div>
      </div>
    </div>
    <img src="assets/triangleb.svg" class="img-fluid triangle" />
    <div class="row d-flex" style="min-height: 90vh; padding-top: 10vh">
      <div class="row d-flex" id="piheadrow">
        <h1 id="piabouthead">What we do?</h1>
      </div>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-5 d-flex justify-content-center align-items-center">
          <img src="assets/img/robowars.jpg" class="img-fluid" />
        </div>
        <div class="col-md-6">
          <p class="piabout">
            Does robots fascinates you and have you ever fantasized to build one
            for yourself? The Robotics club NIT Patna is the place! The Robotics
            club at NIT Patna strives to stimulate interest in robotics among
            the students of the institute.Today robotics is a rapidly growing
            field,as technological advances continue;researching,designing, and
            building new robots serve various practical purposes.Robotics is a
            field which is not limited to a particular branch and is way more
            diverse than our own imagination and so is our student club.We are a
            diverse group of robotics nerds who find roots across all academic
            departments of the Institute. We at Robotics club believe in working
            and growing together.You can know more about us from here. #Hail
            Robotics.
          </p>
        </div>
      </div>
    </div>
    <div class="row d-flex">
      <div class="row d-flex" id="piheadrow">
        <h1 id="piabouthead">A few words from our PI</h1>
      </div>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-5 d-flex justify-content-center align-items-center">
          <div class="pi-image">
            <img src="assets/img/prakash.jpeg" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-6">
          <p class="piabout">
            It is my pleasure to introduce one of the most esteemed clubs of NIT
            Patna, the Robotics Club. Formed in the year 2015 by a bunch of not
            more than 8 students with vision of augmenting innovation and
            technical culture in the college. In this short span of time,
            Robotics Club managed to achieve an identity among college clubs at
            State-level. With its members ranging from coders to designers to
            hardware enthusiasts, they have been conducting an array of events
            around the year, thus enhancing the students' technical skills and
            making them aware of the fascinating world of automation, robotics,
            and electronics surrounding them. They are also promoting robotics
            among students of other nearby schools and colleges so that those
            students who lack resources also get equal opportunity to explore
            this fascinating domain. Members of this club have represented our
            college in several inter-college technical competitions, ideathons,
            and hackathons. The club has done a range of projects on IoT,
            drones, 3D designing, Bot fabrication, etc. Presently, members are
            actively engaged in working on a number of advanced projects like an
            AI-based attendance system and an automated bot for restaurants.
            Events like Robowars, Tiger's Nest, draws huge participation and
            audience. The club has been pretty successful in creating an
            atmosphere in the campus where people with different ideas could
            collaborate together to give shape to their ideas. I hope that the
            club continues doing so and keep making our college proud.
          </p>
        </div>
      </div>
    </div>
    <div
      class="row d-flex justify-content-center align-items-center"
      style="min-height: 70vh; padding-left: 10vh; padding-right: 10vh"
    >
    <div class="col-md-4 lead-col justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="lead-image">
            <img src="assets/img/bharat.png" class="img-fluid" />
          </div>
        </div>
        <div class="row justify-content-center align-items-center lead-name">
          <h2>Bharat Gupta</h2>
        </div>
        <div class="row justify-content-center align-items-center lead-name">
          <h3>Faculty Advisor</h3>
        </div>
      </div>
     
      <div class="col-md-4 lead-col justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="lead-image">
            <img src="assets/img/dheeraj.jpeg" class="img-fluid" />
          </div>
        </div>
        <div class="row justify-content-center align-items-center lead-name">
          <h2>Dheeraj Kumar</h2>
        </div>
        <div class="row justify-content-center align-items-center lead-name">
          <h3>Chairperson</h3>
        </div>
      </div>
      <div class="col-md-4 lead-col justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="lead-image">
            <img src="assets/img/sumit.jpg" class="img-fluid" />
          </div>
        </div>
        <div class="row justify-content-center align-items-center lead-name">
          <h2>Sumit Kumar</h2>
        </div>
        <div class="row justify-content-center align-items-center lead-name">
          <h3>Club Lead</h3>
        </div>
      </div>
    </div>
    <app-foot></app-foot>
  </mat-sidenav-content>
</mat-sidenav-container>
